.img {
  outline: 2px solid gray;
  position: relative;
  z-index: 1;
}
.img::before {
  position: absolute;
  z-index: 8675309;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(
      to top right,
      transparent calc(50% - 1px),
      gray calc(50% - 1px),
      gray calc(50% + 1px),
      transparent calc(50% + 1px)
    ),
    linear-gradient(
      to bottom right,
      transparent calc(50% - 1px),
      gray calc(50% - 1px),
      gray calc(50% + 1px),
      transparent calc(50% + 1px)
    ),
    #fff9;
  content: "";
}

.hero {
  height: 100vh;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary {
  display: flex;
}

.wrap {
  margin: 25px;
}

.fake-food {
  height: 250px;
  width: 60%;
  margin: 25px;
}

.content {
  text-align: center;
  margin: 25px;
  padding: 25px;
  background-color: lightgray;
}

.faq-list {
  list-style-type: none;
  text-align: left;
}

.faq-item {
  padding: 10px;
  background-color: lightgoldenrodyellow;
}

.faq-list li:nth-child(even) {
  background-color: lightsalmon;
}
